.intro {
    margin: 0;
    padding: 64px 16px 0;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
@media (min-width: 768px) {
    .intro {
        min-width: 720px;
        padding: 88px 24px 0;
    }
}
@media (min-width: 1024px) {
    .intro {
        min-width: 690px;
        padding: 92px 286px 0 48px;
    }
}
@media (min-width: 1280px) {
    .intro {
        padding: 92px 442px 0 148px;
    }
}