.place {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
    min-width: 320px;
}
@media (min-width: 768px) {
    .place {
        min-width: 720px;
        padding-bottom: 73px;
        display: grid;
        gap: 48px 28px;
        grid-template-rows: 3;
        grid-template-columns: 340px 352px;
        grid-template-areas:
        "title website"
        "image paragraph"
        "image paragraph";
    }
}
@media (min-width: 1024px) {
    .place {
        min-width: 928px;
        padding-bottom: 80px;
        gap: 48px 32px;
        grid-template-columns: 440px 456px;
    }
}
@media (min-width: 1280px) {
    .place {
        min-width: 984px;
        padding-bottom: 80px;
        gap: 48px 40px;
        grid-template-columns: 460px 484px;
    }
}